<table>
        <tr>
            <th>Город</th>
            <th>Команда</th>
            <th>Гонщик</th>
            <th>Время</th>
        </tr>
        <tr><td>Москва</td>
            <td>NAVI</td>
            <td>Васильев</td>
            <td>15.08.19</td>
        </tr>
        <tr><td>Санкт-Петербург</td>
            <td>Evil Geniuses</td>
            <td>Прохорович</td>
            <td>17.05.19</td>
        </tr>
        <tr><td>Минск</td>
            <td>Virtus.pro</td>
            <td>Кукрак</td>
            <td>18.05.19</td>
        </tr>
        <tr><td>Ле-Ман</td>
            <td>OG</td>
            <td>Тихонов</td>
            <td>12.05.19</td>
        </tr>
        <tr><td>Тунис</td>
            <td>FlyToMoon</td>
            <td>Шмелев</td>
            <td>13.05.19</td>
        </tr>
        <tr><td>Моглилев</td>
            <td>NIP</td>
            <td>Лукошин</td>
            <td>17.05.19</td>
        </tr>
    </table>