<table>
    <caption><b>Список заездов:</b></caption>
    <tr>
        <td>Монако</td>
        <td>16.09.19</td>
    </tr>
    <tr>
        <td>Севастополь</td>
        <td>20.9.10</td>
    </tr>
    <tr>
        <td>Гродно</td>
        <td>24.09.19</td>
    </tr>
</table>
